* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    position: relative;

}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


a{
    &:link{
        color: white;
        text-decoration: none;
    }

    &:visited{
        color: white;
        text-decoration: none;
    }

    &:active{
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    p:link{
        color: #AA0956;
    }
}


p{ /* Parrafos sueltos */
    font-size: 16px ;
    color:black;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

h1{
    font-weight: bold;
    font-size: 52px;
}

h2{
    font-size: 36px;
    font-weight: 600;
    color: #AA0956 ;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

h3{
    margin-top: 30px;
    margin-bottom: 30px;
}


.background-section{ /*Fondo de secciones*/
    background-color: #FFEFF7;
    padding-top: 50px;
    padding-bottom: 70px;
    position: relative;
    width: 100%;
}

.section{
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    
    button{
        margin-left: 30px;
    }
}

.boton{
    background: #DB227B;
    box-shadow: 0px 4px 8px rgba(211, 38, 38, 0.25);
    border-radius: 25px;
    height: 36px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    transition: ease-in-out 0.2s;
    border: none;

    &:focus{
        border-radius: 25px;
    }

    &:hover{
        background-color: #AA0956;
    }

    &:press{
        border-radius: 25px;
        border: white;
    }

    a{
        color: white;

        &:visited{
            color: white;
        }
    }
}

.boton-sec{
    background: white;
    border-radius: 25px;
    border: solid 2px #DB227B;
    height: 36px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    color: #DB227B;
    transition: ease-in-out 0.2s;

    &:hover{
        background-color: #AA0956;
        border:  #AA0956;
        color: #FFFFFF;
    }
}

.flex-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
}

strong{
    color: #AA0956;
}

/*-------------------------------------NAVBAR-----------------------------*/
.navbar a img{
    height: 50px;
}

#nav{
    background-color: #AA0956;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-left: 30px;
    padding-right: 0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.21);
}

.menu{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: flex-end;
    padding-right: 30px;

    &__button{
        margin-right: 30px;
    }
    
    &__it{
        margin-left: 25px;
        margin-right: 25px;

        a{
            transition: 0.3s ease-in-out;

            &:link{
                color: white;
                padding-left: 20px;
            }
            
            &:visited{
                color: white;
            }

            &:hover{
                color: #AA0956;
                background-color: white;
                border-radius: 20px;
            }
        }
    } 
}




/*---------------------HERO--------------------------*/
.banner{
    top: 70px;

    &__info{
        top: 200px;
        z-index: 1;
    }
    
    &__title{
        margin-right: 0px;
    }
    
    &__text{
        font-weight: 500;
        font-size: 18px;
        font-style: italic;
        margin-right: 0;
        margin-top: 35px;
    }   
}

/*-------------------------------------SUSCRIPTION-----------------------------*/

.suscription{
    background-image: url(multimedia/suscription.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    padding-top: 35px;
    margin-top: 50px;
    margin-bottom: 50px;

    &__h2{
        color: #FFFFFF;  
    }

    &__p {
        color: #FFFFFF;
    }

    &__form{
        margin-left: 35px;
        margin-right: 35px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-template-areas: "name email submit";
        position: relative;
    }

    &__name { 
        grid-area: name; 
      }
      
    &__email { 
        grid-area: email; 
      }
      
    &__submit { 
        grid-area: submit;
      }
}

@media only screen and (max-width:768px){
    .suscription__form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "name" "email" "submit";
    }
}
/*-------------------------------------TEAM-----------------------------*/
#team{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.team{
    &__section{
        @extend .background-section;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-template-areas: "team foto";
        position: relative;
        align-items: center;
    }
    
    &__block{ 
        grid-area: foto;
        position: relative;
        display: inline-block;
        margin-left: 35px;
        margin-right: 35px;


        img{
            border-radius: 20px;
            max-width: 400px;
            width: auto;
        }
    }

    &__description{
        margin-top: 100px;
        grid-area: team;

        p{
            width: 600px;
        }
    }

}

@media only screen and (max-width:768px)
{
    .team{
        &__section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        grid-template-areas:    "team"
                                "foto";
        height: auto;
        }

        &__description p{
            width: auto;
        }

        &__block{
            img{
                width: 300px;
            }
        }
    }
}

/*-------------------------------------QUE HACEMOS-----------------------------*/
.nosotros{
    @extend .section
}

.footer{
    background-color: #cfcfcf;
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 35px 20px 20px;
    position: relative;
    justify-content: space-around;

    &__logo{
        display: inline-flex;

        img{
            height: 40px; 
            display: inline-block;
            left: 0;
        } 
    }
    
    &__menu{
        display: inline-flex;
        margin-left: 30px;

        
        ul{
            list-style: none;
             display: inline-block;
             flex-wrap: wrap;
             text-align: center;
    
             li{
                display: inline-block;
                font-size: 12px;
                padding-right: 25px;
             }
        }
    }

    &__it{
        &:link{
            color: #535353;
        }

        &:visited{
            color: #535353;
        }
    }

   

    &__redes{
        display: inline-flex;

        a{
            margin-left: 20px;

            img{
                height: 15px;
                transition: all 0.5s;

                &:hover{
                    transform: translate(-10%,-15%) scale(3) rotate(360deg);
                    background-color: #DB227B;
                    padding: 5px;
                    border-radius: 8px;
                }
            }
        }
    }

    &--contact{
        position: fixed;
        bottom: 0px;
    }
}




/*-------------------------------------CONTACTANOS-----------------------------*/
#contact{
    background-color:  #FFEFF7;
}

.contact{
    &__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
        grid-template-areas: "info form";
        position: relative;
        padding: 150px 50px 0px 50px;
        height: auto;

        h2{
            margin-left: 0;
            font-size: 40px;
        }

        p{
            margin-left: 0;
        }
    }

    &__info{
        grid-area: info; 
        height: auto; 
    }

    &__form{
        grid-area: form;
        width: 100%;
        float: left;
        margin-top: 40px;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

}



#form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
    grid-template-areas:    "name name surname surname"
                            "email email email email"
                            "label_select select select select"
                            "textarea textarea textarea textarea"
                            "textarea textarea textarea textarea"
                            "label_noticias label_noticias label_noticias check"
                            "reset reset submit submit";
    padding: 10px;
    padding-top: 0px;
}


.form{
    &__name{
        grid-area: name; 
    }

      
  &__surname { 
    grid-area: surname; 
  }
  
  &__email { 
    grid-area: email; 
  }
  
  &__label_select { 
    grid-area: label_select;
    
    p{
        margin: 0;
        margin-top: 35px;
        font-weight: 500;
    }
  }
  
  &__select { 
    grid-area: select; 
  }
  
  &__textarea { 
    grid-area: textarea; 
  }
  
  &__label_noticias { 
    grid-area: label_noticias; 

    p{
        margin: 0;
        margin-top: 20px;
        font-weight: 500;
    }
  }

  &__check { 
    grid-area: check; 

  }
  
  &__reset { 
    grid-area: reset; 
  }
  
  &__submit { 
    grid-area: submit;
  }
}



input{
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border: none;

    &[type=checkbox]{
        height: 20px;
        align-self: left;
    }

    &:focus{
        border: #AA0956 solid 2px;
        outline: none;
    }
}

select{
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;

    &:focus{
        border: #AA0956 solid 2px;
    }
}


textarea{
    height: 100px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    font-family: roboto;
    padding: 2.5%;

    &:focus{
        border: #AA0956 solid 2px;
    }
}



@media only screen and (max-width:768px)
{
    .footer--contact{
        position: relative;
    }

    .contact__section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        grid-template-areas:    "info"
                                "form";
        height: auto;
    }
    
}

/*------------------------VINILOS-------------------*/
.vinilos{
    padding-top: 100px;
    
    &__gradient{
        background: linear-gradient(180deg, rgba(55, 193, 255, 0) 0.52%, rgba(55, 193, 255, 0.3) 27.6%, rgba(55, 193, 255, 0) 50%);
        height: 200px;
        text-align: center;
        padding-top: 30px;
    }

    h1{
        color: #AA0956;
    }

    &__descripcion{
        @extend .section;
        margin-top: 0;  
    }

    &__variedad{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 30px; 
    }

    &__card{
        margin: 30px;
        text-align: center;
        width: 350px; 

        img{
            border-radius: 10px;
            height: 200px;
        }

        h3{
            color: #DB227B;
        }

        p{
            color: grey;
        }
    }

    &__files{
        @extend .background-section
    }

    &__contact{
        @extend .section
    }

    &__button{
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }

    &__instructions{
        @extend .background-section;
        
    }
    
    &__cards{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 30px; 
    }
}




/*------------------Envio de archivos--------------*/
.files{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-areas: "instruction imagen";
    position: relative;
    align-items: center;

    &__block{
        display: inline-block;
        padding: 10px;
        position: absolute;
        justify-self: center;
        grid-area: imagen;
        margin-top: 70px;

        img{
            width: 400px;
            border-radius: 8px;
        }
    }

    &__description{
        width: 600px;
        top: 30px;
        display: inline-block;
        position: absolute;
        grid-area: instruction;

        ul{
            list-style-position: inside;
            margin-left: 35px;
            margin-right: 35px;

            li{
                margin-bottom: 20px;
            }
        }
    }
}

@media only screen and (max-width:768px)
{
    .vinilos{
        &__descripcion{
            padding-top: 0;
        }
    }

    h1{
        font-size: 38px;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 22px;
    }

    .files {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
        grid-template-areas:    "instruction"
                                "imagen";
        height: 1000px;

        &__description{
            width: auto;
            height: auto;
        }

        &__block{
            margin-right: 35px;
            margin-left: 35px;

            img{
                width: 350px;
            }
        }
    }
}

/*-------------------Instrucciones------------------*/

.instructions{
    &__cards{
        background-color: #FFFFFF;
        border-radius: 8px;
        width: 300px;
        text-align: center;
        padding: 20px;
        padding-top: 40px;
        box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
        transition: ease-in-out 0.5s;
        margin-bottom: 20px;

        &:hover{
            box-shadow: 0px 4px 33px rgba(170, 9, 86, 0.4);
        }

        img{
            height: 70px;
            margin-bottom: 20px;
        }

        p{
            margin: 0;
        }
    }
}

/*----------------------Impresión------------*/
.print{
    padding-top: 100px;  
    
    &__gradiente{
        background: linear-gradient(180deg, rgba(255, 186, 73, 0) , rgba(255, 186, 73, 0.3) 27.6%, rgba(255, 186, 73, 0) 50%);   
        height: 200px;
        text-align: center;
        padding-top: 30px;

        h1{
            color: #AA0956;
        }
    }

    &__description{
        @extend .section;
        margin-top: 0;
    }

    &__files{
        @extend .background-section
    }

    &__contact{
        @extend .section
    }

    &__works{
        @extend .background-section
    }

    &__gallery{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 30px;
    }
}

.gallery{
    height: 400px;
    width: 400px;
    object-fit: fill;
    margin-bottom: 20px;
    border-radius: 8px;
    filter: opacity(50%);
    transition: ease-in-out 0.5s;

    &:hover{
        transform: scale(1.4);
        filter: opacity(100%) drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.6));
        z-index: 5;
    }
}


@media only screen and (max-width:768px)
{
    .gallery{
        filter: opacity(100%);
    }

    .print{
        &__description{
            padding-top: 0;
        }
    }
}
/*----------------------Trabajos------------*/
.works{
    padding-top: 100px;   

    &__gradient{
        background: linear-gradient(180deg, rgba(170, 9, 86, 0) 0.52%, rgba(170, 9, 86, 0.3) 27.6%, rgba(170, 9, 86, 0) 50%);    height: 200px;
        text-align: center;
        padding-top: 30px;
    }

    h1{
        color: #AA0956;
    }

    p{
        color: #AA0956;
    }

    &__vinilos{
        @extend .background-section
    }

    &__vinilos--print{
        @extend .section
    }

    &__vinilos--transf{
        @extend .background-section
    }

    &__print{
        @extend .section
    }

    &__gallery{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        flex-wrap: wrap;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width:768px){
    .works{
        &__vinilos{
            margin-top: 30px;
        }
    }
}
